# Files and file types to ignore
.ipynb_checkpoints
__pycache__
.xlsx
# Python compiled files
*.pyc

# Error files
Error.txt
Error_Cal.txt

# Output sampling table
Sampling_Table.csv

*.Spe
*.png
*.jpg
*.pdf
*.pptx
*.csv
ROI_Maker_Original.py
spectrum_peak_visualization_channels.py
